body{
    background-color: #323232;
    min-width: max-content;
}
h1{
    color:#C4C4C4;
    position: fixed;
    margin:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 28pt;
    z-index: 2;
    text-transform: uppercase;
    top:20px;
    left:20px;
}
hr{
  width:40vw;
    position: fixed;
    /* right:10px; */
    top:120px;
    left: 45px;
    border: .1px solid #C4C4C4;
    
}
h4{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 18pt;
  color: #323232;
}
h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 10pt;
  font-style: italic;
  color: #323232;
  position: relative;
  bottom: 25px;
  right: 50px;
}
.trash_items_scroll_window{
  position:relative;
  width:100vw;
  height: 90vh;
  margin: auto;
}
.trash_items{
  min-width: max-content;
  position:absolute;
  top: 20vh; bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 100vw; height: 50vh;
}
.trash_images{
    float:left;
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    margin-left: 2vw;
    margin-right: 2vw;
}
#spacer{
  width:450px;
}


/* Popup container */
.popup, .trash_images {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup */
   .popup{
    width: 450px;
    height:100vh;
    background-color: #C4C4C4;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: fixed;
    z-index: 1;
    right:0px;
    top:0px;
  }
  #close{
    visibility: hidden;
  }
  #header{
    position: fixed;
    height: 150px;
    width: 450px;
    top:0px;
    background-color: #222222;
  }
  #itemTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    text-align: right;
    margin-right:20px;
    font-size: 24pt;
    margin-left:20px;
  }
  #itemDate{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-align: right;
    margin-right:20px;
    bottom: 15px;
    font-size: 16pt;
    z-index: 1;
    color: white;
  }
  #content{
    position: relative;
    top: 120px;
    margin-bottom:10px;
  }
  #itemDimensions{
    display: inline-flex;
    justify-content: center;
    margin-left:55px;
    /* top:30px; */
  }
  .dimensions{
    position: relative;
    bottom: 20px;
  }
  #length, #width, #height{
    position: relative;
    top:25px;
  }
  #story{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222222;
    font-weight: 600;
    /* font-style: italic; */
    font-size: 12pt;
    text-align: left;
    margin-left:75px;
    top: 60px;
  }
  #endOfFacts{
    width:300px;
    position: relative;
    /* right:10px; */
    top:10px;
    border: .1px solid white;
    left:5px;
  }
  p{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222222;
    font-weight: 100;
    /* font-style: italic; */
    font-size: 10pt;
    text-align: left;
    margin-left:100px;
    margin-right:75px;
    top: 60px;
    line-height: 1.5rem;
  }
  @media (min-width: 400px) and (max-width: 1100px) {
    h1{
        width:300px;
        font-size: 18pt;
    }
  }

  